*{
	padding: 0;
	margin: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	height: 100%;
}

/*====================================================*/

/* -- TOPO -- */

header {
	width: 100%;
	height: 90px;
	background: #000;
	position: sticky;
}
header img.dodoLogo {
	height: 50px;
	width: auto;
	margin-top: 20px;
	margin-left: 10px;
}
header img.dodoSoftwares {
	width: 100px;
	height: 50px;
	margin-top: 10px;
	position: absolute;
	left: 45%;
}
header img.busca { 
	width: 40px;
	height: 40px;
	margin-top: 25px;
	position: absolute;
	top: 2px;
	right: 2%;
}
/* -- FIM TOPO  -- */

/*====================================================*/

/* -- NAVEGAÇÃO -- */

nav {
	width: 100%;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	position: sticky;
}
nav div {
	text-align: center;
	line-height: 35px;
}
nav div a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 8px;
	margin-left: 20px;
}
nav div li {
	display: inline; 
}
nav div a:hover {
	color: #585959;
	background: #fff;
}
	
	@media(max-width:458px){
		nav div a{
			font-size: 3vw;
			font-weight: bold;
		}
	}
/* -- FIM NAVEGAÇÃO -- */

/*====================================================*/

/* -- SEÇÃO HOME --*/
/* -- -- */
#banner {
	width: 100%;
	height: auto;
	margin-top:-35px; /* Para sobrepor a nav*/
	position: relative;
	z-index: -1;
}
.imgfull{
	width: 100%;
}
#linha1 {
	position:absolute;
	left: 70%;
	text-align: left;
	bottom: 70%;
	margin-right: 100px;
	font-size: 1.8vw;

}
#linha2{
	position:absolute;
	left: 70%;
	text-align: left;
	bottom: 40%;
	margin-right: 50px;
	font-size: 1.8vw;
}
#link1 {
	background-color: rgba(0,0,0,0.5);
	position:absolute;
	left: 80%;
	text-align: left;
	bottom: 0.8%;
	font-size: 1.5vw;
	height: 20%;
}
.banner{
	color: #fff;
	text-decoration: none;
}
/* -- -- */
#img2 {
	position: absolute;
	display: block;
	width: 49%;
}
#img2 img {
	width: 100%;
	height: auto;
}
#img2 p{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 70%;
	bottom: 0.8%;
	text-align: left;
	height: 20%;
	width: 30%;
	font-size: 1.5vw;
}
/* -- -- */
/* -- -- */
#img3 {
	position: relative;
	display: block;
	float: right;
	width: 49%;
}
#img3 img {
	width: 100%;
	height: auto;
}
#img3 p{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 70%;
	bottom: 0.8%;
	text-align: left;
	height: 25%;
	width: 30%;
	font-size: 1.5vw;
}
/* -- -- */
/* -- -- */
#img4 {
	position: sticky;
	margin-top: 10px;
}
#img4 img {
	width: 100%;
}
#img4 p{
	position:absolute;
	left: 75%;
	text-align: left;
	bottom:30%;
	font-size: 1.8vw;
}
	#img4 a{
	background-color: rgba(0,0,0,0.3);
	position:absolute;
	left: 75%;
	text-align: left;
	bottom: 0.6%;
	font-size: 1.5vw;
	height: 10%;
	width: 25%;
}
/* -- FIM SEÇÃO HOME -- */

/*====================================================*/

/* -- INICIO SEÇÃO SOBRE -- */
#bannersobre {
	margin-top:-35px; /* Para sobrepor a nav*/
	width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}
/* --CONFIGURA --*/
.bannerTexto{
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	text-decoration: none;
	bottom: 25%;
	top: 30%;
	
	font-size: 1.8vw;
}
#importante{
	font-size: 2vw;
	font-weight: bold;
}
/* ------------- */

#textosobre{
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	text-decoration: none;
	left: 5%;
	right: 5%;
	bottom: 75%;
	font-size: 1.8vw;
}
#teste{
	text-align: justify;
}

#missao{
	left: 5%;
	right: 70%;
	margin-right: 20px;
}
#visao{
	left: 30%;
	right: 40%;
	margin-right: 20px;
}
#valor{
	left: 60%;
	right: 5%;
}

/* ------------- */
#img3sobre {
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	position: relative;
	z-index: -1;
}
#avatares {
	width: 100%;	
	text-align: center;
	color: #fff;
	position:absolute;
	top: 15%;
}

#avatares h2{
	color: #fff;
	text-align: center;
	font-size: 2.5vw;
}
#avatares ul li{
	display:inline-block;
	text-align: center;
}
.imgequipe{
	width: 12vw;
	margin: 15%;
}
.fundoequipe{
	width: 100%;
}
/* -- FIM SEÇÃO SOBRE --*/

/*====================================================*/

/* -- INICIO SEÇÃO CONTATO -- */
#bannercontato {
	margin-top:-35px; /* Para sobrepor a nav*/
	width: 100%;
	height: auto;
	position: inherit;
}
#title{
	position:absolute;
	text-align: center;
	color: #fff;
	text-decoration: none;
	top: 20%;
	left: 45%;
	right: 45%;
	font-size: 2vw;
}
#formulario{
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	text-align: left;
	color: #fff;
	text-decoration: none;
	top: 30%;
	left: 8%;
}
#formulario form{
	margin: 2vw 6vw 2vw 2vw;
	font-size: 1.3vw;
}

#email{
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	text-align: left;
	color: #fff;
	text-decoration: none;
	top: 30%;
	right: 10%;
}
#email p{
	margin: 1vw 3vw 2vw;
	font-size: 1.6vw;
}
/* -- FIM SEÇÃO CONTATO -- */ 

/*====================================================*/
/* -- INCIO LOGIN -- */
#login{
	background-image: url(../img/imglogin.jpg);
	max-width: 100%;
	margin-top: -35px;
	justify-content: center;
	align-items: center;
	display: flex;
}
#login label{
	color: #fff;
}
#login form {
	max-width: 750px;
	margin-bottom: 25px;
	background-color: rgba(0,0,0,0.3);
}

	input[type=text], input[type=password]{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	button{
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}

	button:hover{
		opacity: 0.8;
	}

	.cancelbtn{
		width: auto;
		padding: 10px 18px;
		background-color: #f44336;
	}

	.imgcontainer{
		text-align: center;
		margin: 24px 0 12px 0;
		margin-top: 45px;
	}

	img.avatar{
		width: 200px;
		border-radius: 200px;
	}

	.container {
		padding: 16px;
	}

	span.psw {
		float: right;
		padding-top: 16px;
	}

	@media screen and (max-width: 300px) {
		span.psw {
			display: block;
			float: none;
		}
		.cancelbtn {
			width: 100%;
		}
	}
/* -- FIM LOGIN -- */
/*====================================================*/

/* -- INICIO RODAPÉ -- */
footer {
	width: 100%;
	height: 220px;
	background: #000;
}
h3 {
	color: #fff;
	border-bottom: 1px solid;
	display: inline;
	font-size: 2vw;
}
/* -- -- */

#rsociais {
	width: 17%;
	line-height: 2.3vw;
	padding: 10px;
	float: left;
	margin:10px;
}
/* -- -- */
/* -- -- */
#inf {
	position: absolute;
	left: 20%;
	width: 17%;
	color: #fff;
	line-height: 2.3vw;
	margin:10px;
}
#inf ul {
	list-style: none;
}
#inf li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.7vw;
}
/* -- -- */
/* -- -- */
#termos {
	width: 17%;
	color: #fff;
	line-height: 2.3vw;
	position: absolute;
	left: 78%;
	margin:10px;
}
#termos ul {
	list-style: none;
}
#termos li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.7vw;
}
/* -- -- */

#logofooter {
	width: 100%;
	height: auto;
	position: absolute;
	right: 45%;
	left: 43%;
	text-align: center;
	width: 150px;

}
.logofooter1{
	width: 100%;
}
/* -- FIM RODAPÉ -- */